<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>

    <link href="../static/css/highlight/default.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/highlight.pack.js"></script>


</head>
<body style="text-align: center">
<div id="container" style="width: 720px; margin: auto; text-align: left">
    <label>lebel</label>
    <p>this is code</p>
    <pre>
        <code>
            public class Test {
                public static void main(String[] args){
                    int a = 1;
                    String b = "fuck";
                    /*comment*/
                }
            }
        </code>
    </pre>
</div>
</body>
</html>