.yot-box {
    border: 1px solid #ddd;
    background-color: white;
}

.module-sub-title {
    border-bottom: 1px solid #dddddd;
    display: block;
    padding: 8px 12px;
}

.module-sub-title > span {
    color: GrayText;
    vertical-align: middle;
}

.module-sub-title > label {
    margin-left: 0.5em;
    color: GrayText;
    font-weight: bold;
    vertical-align: middle;
    font-size: small;
}

.yot-btn {
    transition-duration: 200ms;
    border: none;
    border-radius: 4px;
    background-color: #aaaaaa;
    color: white;
    padding: 6px 12px;
}

.yot-btn:hover {
    cursor: pointer;
}

.yot-btn:focus {
    outline: none;
}

.bg-theme {
    background-color: cornflowerblue;
}

.bg-theme:hover {
    background-color: #5384dc;
}

