<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yotwei.blog.dao.AdminDAO">

    <select id="loginQuery" resultType="com.yotwei.blog.enity.Admin">
        SELECT id, account, nickname
        FROM wb_admin
        WHERE account = #{account} AND password = md5(#{pwd});
    </select>

</mapper>