<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yotwei.blog.dao.ArticleDao">
    <select id="queryArticlePreviewList" resultType="com.yotwei.blog.enity.ArticlePreview">
        SELECT *
        FROM wb_article_preview
        ORDER BY create_time DESC
        LIMIT #{offset}, #{length};
    </select>

    <select id="queryTotalCount" resultType="int">
        SELECT count(1)
        FROM wb_article_preview;
    </select>

    <select id="queryArticlePreviewById" resultType="com.yotwei.blog.enity.ArticlePreview">
        SELECT *
        FROM wb_article_preview
        WHERE id = #{articleId};
    </select>

    <select id="queryArticleContentById" resultType="com.yotwei.blog.enity.ArticleContent">
        SELECT *
        FROM wb_article_content
        WHERE article_id = #{articleId};
    </select>

    <insert id="insertArticlePreview" parameterType="com.yotwei.blog.enity.ArticlePreview"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO wb_article_preview(title, intro)
        VALUES (#{title}, #{intro});
    </insert>

    <insert id="insertArticleContent" parameterType="com.yotwei.blog.enity.ArticleContent">
        INSERT INTO wb_article_content(article_id, content)
        VALUES (#{articleId}, #{content});
    </insert>
</mapper>