<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yotwei.blog.dao.TagDAO">

    <select id="getArticleTags" resultType="com.yotwei.blog.enity.Tag">
        SELECT * FROM wb_tags
        WHERE id IN (
            SELECT tag_id
            FROM rel_article_tag
            WHERE article_id = #{articleId}
        );
    </select>

    <select id="getAllTags" resultType="com.yotwei.blog.enity.Tag">
        SELECT * FROM wb_tags;
    </select>

    <select id="findRecordByTagId" resultType="Map">
        SELECT * FROM rel_article_tag WHERE tag_id = #{id} LIMIT 1;
    </select>

    <insert id="addTag" useGeneratedKeys="true" keyProperty="id" parameterType="com.yotwei.blog.enity.Tag">
        INSERT INTO wb_tags VALUES (NULL ,#{name});
    </insert>

    <delete id="deleteTag">
        DELETE FROM wb_tags WHERE id = #{delId};
    </delete>
    <!---->
</mapper>